/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
  &kp TAB  &kp W  &kp L     &kp R          &kp B      &kp Z    &kp SEMICOLON   &kp Q     &kp U  &kp D  &kp J  &kp BSPC
&kp LCTRL  &kp S  &kp H     &kp N          &kp T  &kp COMMA       &kp PERIOD   &kp A     &kp E  &kp O  &kp I   &kp SQT
&kp LSHFT  &kp F  &kp M     &kp V          &kp C  &kp SLASH            &kp G   &kp P     &kp X  &kp K  &kp Y   &kp ESC
                         &kp LGUI  &kp BACKSPACE  &kp SPACE          &kp RET  &tog 1  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Raise";
            bindings = <
  &kp TAB      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8     &kp NUMBER_9  &kp NUMBER_0   &kp BSPC
&kp LCTRL  &kp LEFT_BRACKET      &kp RBKT      &kp LBRC       &kp RBRC        &trans       &kp MINUS       &kp EQUAL    &kp UP_ARROW         &kp PLUS      &kp BSLH  &kp GRAVE
&kp LSHFT            &trans        &trans        &trans         &trans        &trans       &kp UNDER  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW      &kp PIPE  &kp TILDE
                                               &kp LGUI  &kp BACKSPACE     &kp SPACE         &kp RET          &tog 0        &kp RALT
            >;
        };
    };
};
